/* === image customizations === */
/* constraint height of slide with image, so that images won't overflow using height styles */
/* this breaks presentations with reveal option centered=true */
.reveal .slides > section, .reveal .slides > section > section {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.reveal .slides > section img, .reveal .slides > section > section img {
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}
